<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Technically Just A Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class = 'wrapper'>
        <header>
            <h1>
                <a href = '/'>Just A Blog</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <a href = '/dashboard'>Dashboard</a>
                <button id='logout' class='btn-no-style'>Logout</button>
                {{else}}
                <a href='/login'>Login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thank for visting!
        </footer>
    </div>
    {{#if loggedIn}}
    <script src = '/javascripts/logout.js'></script>
</body>

</html>